<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
  <link href="player.css" rel="stylesheet">
</head>
<body>

  
  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-large', width='1200px', height='680px' %}
      {% include 'player.html' %}
    {% endwith %}
  </div>


  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-medium', width='800px', height='450px' %}
      {% include 'player.html' %}
    {% endwith %}
  </div>


  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-small', width='400px', height='230px' %}
      {% include 'player.html' %}
    {% endwith %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/playable@2.10.3/dist/statics/playable.bundle.min.js"></script>
</body>
</html>