<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
  <link href="player.css" rel="stylesheet">
</head>
<body>

  <script src="https://unpkg.com/playable@2.10.3/dist/statics/playable.bundle.min.js"></script>
  
  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-large', width_px=1200, height_px=680 %}
      {% include 'player.html' %}
    {% endwith %}
  </div>


  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-medium', width_px=800, height_px=450 %}
      {% include 'player.html' %}
    {% endwith %}
  </div>


  <div class="centered-block" style="margin-top: 20px; margin-bottom: 50px;">
    {% with player_id='player-small', width_px=400, height_px=230 %}
      {% include 'player.html' %}
    {% endwith %}
  </div>

</body>
</html>