<div id="{{player_id}}" class="promo-player" style="width: {{width}}; height: {{height}};">
  <div class="header">
    <div>
      <div class="caption-inner">
        <a href="https://www.ivi.ru/watch/180036/description" class="title" target="_blank">
          <span>Балканский рубеж</span>
        </a>
      </div>
      <div class="description">2019, Россия, 16+</div>
    </div>
  </div>

  <div class="video-container js-video-container"></div>

  <div class="footer">
    <button class="icon-button js-play-button">▶</button>
    <button class="icon-button js-pause-button">⏸</button>
    <button class="icon-button js-volume-button">🔊</button>
    <button class="icon-button js-mute-button">🔇</button>

    <div class="play-bar">
      <div class="time-current js-current-time"></div>

      <div class="progress js-progress">
        <div class="slider js-progress-slider" style="width: 5.65558%;"></div>
        <div class="button-progress"></div>
      </div>
      <div class="time-duration js-duration"></div>
    </div>

    <button class="icon-button js-fullscreen-button">🖵</button>
  </div>

</div>