<div id="{{player_id}}" class="promo-player" style="width: {{width_px}}px;">
  <div class="header">
    <div>
      <div class="caption-inner">
        <a href="https://www.ivi.ru/watch/180036/description" class="title" target="_blank">
          <span>Балканский рубеж</span>
        </a>
      </div>
      <div class="description">2019, Россия, 16+</div>
    </div>
  </div>
  
  <div class="js-video-wrapper"></div>

  <div class="footer">
    <button class="icon-button js-play-button">▶</button>
    <button class="icon-button js-pause-button">⏸</button>
    <button class="icon-button js-volume-on-button">🔊</button>
    <!-- <button class="icon-button js-volume-off-button">🔇</button> -->
    
    <div class="play-bar">
      <div class="time-current">0:08:31</div>
      
      <div class="progress">
        <div class="slider" style="width: 5.65558%;"></div>
        <div class="button-progress"></div>
      </div>
      <div class="time-duration">2:30:53</div>
    </div>

  </div>

</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var Playable = window.Playable;
    const player = Playable.create({
        width: "{{width_px}}",
        height: "{{height_px}}",
        src: 'https://wixmp-01bd43eabd844aac9eab64f5.wixmp.com/videos/output/720p/Highest Peak.mp4',
        hideOverlay: true,
        hideMainUI: true,
      });
    const playerContainer = document.getElementById('{{player_id}}')
    
    const wrapper = playerContainer.getElementsByClassName('js-video-wrapper')[0]
    player.attachToElement(wrapper);

    $playerContainer = $(playerContainer);
    const $playButton = $playerContainer.find('.js-play-button')
    const $pauseButton = $playerContainer.find('.js-pause-button');

    $playButton.click(()=>{
      player.play();
    });
    $pauseButton.click(()=>{
      player.pause();
    });

    // FIXME replace on event triggering on launch?
    $playButton.attr("hidden", false);
    $pauseButton.attr("hidden", true);

    player.on(Playable.ENGINE_STATES.PLAYING, ()=>{
      $playButton.attr("hidden", true);
      $pauseButton.attr("hidden", false);
    })

    player.on(Playable.ENGINE_STATES.PAUSED, ()=>{
      $playButton.attr("hidden", false);
      $pauseButton.attr("hidden", true);
    })

    player.on(Playable.ENGINE_STATES.ENDED, ()=>{
      player.reset();
      $playButton.attr("hidden", false);
      $pauseButton.attr("hidden", true);
    })

  });
</script>